<div class="slider">
    <h3>Connect Verbose</h3>
    <input type="range" min="0" max="1" value="1" id="connectVerbose">
    <h3 id="connectVerboseVal">1</h3>
</div>
<div class="slider">
    <h3>Brightness</h3>
    <input type="range" min="0" max="100" value="50" id="brightness">
    <h3 id="brightnessVal">50</h3>
</div>
<div class="slider">
    <h3>Contrast</h3>
    <input type="range" min="0" max="100" value="50" id="contrast">
    <h3 id="contrastVal">50</h3>
</div>
<div class="slider">
    <h3>Saturation</h3>
    <input type="range" min="0" max="100" value="50" id="saturation">
    <h3 id="saturationVal">50</h3>
</div>
<div class="slider">
    <h3>Hue</h3>
    <input type="range" min="0" max="100" value="50" id="hue">
    <h3 id="hueVal">50</h3>
</div>
<div class="slider">
    <h3>Gamma</h3>
    <input type="range" min="0" max="256" value="120" id="gamma">
    <h3 id="gammaVal">120</h3>
</div>
<div class="slider">
    <h3>Sharpness</h3>
    <input type="range" min="0" max="100" value="42" id="sharpness">
    <h3 id="sharpnessVal">42</h3>
</div>
<div class="pipelineToggle">
    <h3>Auto Exposure</h3>
    <input type="checkbox" id="autoExposure" checked="1"/>
</div>
<button id="Calibrate">Calibrate</button>