<div class="slider">
    <h3>Connect Verbose</h3>
    <input type="range" min="0" max="1" value="1" id="connectVerbose">
</div>
<div class="slider">
    <h3>Brightness</h3>
    <input type="range" min="0" max="100" value="50" id="brightness">
</div>
<div class="slider">
    <h3>Contrast</h3>
    <input type="range" min="0" max="100" value="50" id="contrast">
</div>
<div class="slider">
    <h3>Saturation</h3>
    <input type="range" min="0" max="100" value="50" id="saturation">
</div>
<div class="slider">
    <h3>Hue</h3>
    <input type="range" min="0" max="100" value="50" id="hue">
</div>