<div class="pipelineToggle">
    <h3>Apriltag 2D</h3>
    <input type="checkbox" id="apriltag2Toggle"/>
</div>
<div class="pipelineToggle">
    <h3>Apriltag 3D</h3>
    <input type="checkbox" id="apriltag3Toggle"/>
</div>
<div class="pipelineToggle">
    <h3>Game Piece Geometry</h3>
    <input type="checkbox" id="gamePieceGeoToggle"/>
</div>
<div class="pipelineToggle">
    <h3>Game Piece ML</h3>
    <input type="checkbox" id="gamePieceMLToggle"/>
</div>
<div class="pipelineToggle">
    <h3>Retroreflective Tape</h3>
    <input type="checkbox" id="gamePieceMLToggle"/>
</div>
<script>
    const apriltag2Toggle = document.getElementById("apriltag2Toggle");
    const apriltag3Toggle = document.getElementById("apriltag3Toggle");
    const gamePieceGeoToggle = document.getElementById("gamePieceGeoToggle");
    const gamePieceMLToggle = document.getElementById("gamePieceMLToggle");
    const retroReflectiveToggle = document.getElementById("gamePieceMLToggle");
    
    function loadCurrentToggles() {
        fetch('pageData.json')
            .then(response => response.json())
            .then(json => {
                setToggles(json["currentPipelineSettingsPage"]["toggles"])
            })
    }
    
    function setToggles(toggles) {
        console.log(toggles)
        apriltag2Toggle.checked = toggles[0]
        apriltag3Toggle.checked = toggles[1]
        gamePieceGeoToggle.checked = toggles[2]
        gamePieceMLToggle.checked = toggles[3]
        retroReflectiveToggle.checked = toggles[4]
    }
    
    loadCurrentToggles()
</script>