<div class="pipelineToggle">
    <h3>Apriltag 2D</h3>
    <input type="checkbox" id="apriltag2Toggle"/>
</div>
<div class="pipelineToggle">
    <h3>Apriltag 3D</h3>
    <input type="checkbox" id="apriltag3Toggle"/>
</div>
<div class="pipelineToggle">
    <h3>Game Piece Geometry</h3>
    <input type="checkbox" id="gamePieceGeoToggle"/>
</div>
<div class="pipelineToggle">
    <h3>Game Piece ML</h3>
    <input type="checkbox" id="gamePieceMLToggle"/>
</div>
<div class="pipelineToggle">
    <h3>Retroreflective Tape</h3>
    <input type="checkbox" id="gamePieceMLToggle"/>
</div>