body {
    margin: 0px;
    background-color: black;
    height: 100%;
    width: 100%;
}
.header{
    display: flex;
    padding-left: 30px;
    background-color: #303030;
    margin: 0px;
    color: white;
    font-size: 16px;
    height: 100%;
}
.corner{
    margin: 1em;
    margin-left: 0px;
    margin-right: 3em;
    height: 3em;
    width: 3em;
}
.corner img {		
    width: 3em;		
    height: 3em;		
    object-fit: contain;	
    color: white;
}
.contentContainer {
    width: 100%;
    height: calc(100vh - 82px);
    background-color: #404040;
    display: flex;
}
.settingsContainer {
    width: calc(50% - 2px);
    height: calc(100vh - 84px);
    border: 1px solid gray;
}
.settingsNavBar {
    width: calc(100% - 2px);
    height: 48px;
    border: 1px solid gray;
    background-color: #353535;
    display: flex;
}
.settingsNavBar button{
    height: 100%;
    width: 33%;
    background-color: #303030;
    border-style: none;
    font-size: 24px;
    color: white
}
.settingsNavBar button:hover {
    background-color: #404040;
}
.settingsNavBar button:active {
    background-color: #252525;
}
.pipelineToggle {
    display: flex;
    color: white;
    margin-left: 20px;
}
.pipelineToggle h3 {
    margin-right: 20px;
}
.cameraStreamContainer {
    width: calc(50% - 2px);
    height: calc(100vh - 84px);
    border: 1px solid gray;
}
.cameraFeed {
    margin: 10%;
    width: 80%;
}