<div class="slider">
    <h3>Family</h3>
    <input type="range" min="0" max="1" value="0" id="apriltag3Family">
    <h3 id="apriltag3FamilyVal">0</h3>
</div>
<div class="slider">
    <h3>NThreads</h3>
    <input type="range" min="1" max="8" value="1" id="apriltag3Nthreads">
    <h3 id="apriltag3NthreadsVal">1</h3>
</div>
<div class="slider">
    <h3>Quad Decimate</h3>
    <input type="range" min="0.0" max="5.0" value="1.0" id="apriltag3QuadDecimate">
    <h3 id="apriltag3QuadDecimateVal">1.0</h3>
</div>
<div class="slider">
    <h3>Quad Blur</h3>
    <input type="range" min="0.0" max="1.0" value="0.0" id="apriltag3QuadBlur">
    <h3 id="apriltag3QuadBlurVal">0.0</h3>
</div>
<div class="pipelineToggle">
    <h3>Refine Edges</h3>
    <input type="checkbox" id="apriltag3RefineEdges" checked="1"/>
</div>
<div class="pipelineToggle">
    <h3>Refine Decode</h3>
    <input type="checkbox" id="apriltag3RefineDecode" checked="0"/>
</div>
<div class="pipelineToggle">
    <h3>Refine Pose</h3>
    <input type="checkbox" id="apriltag3RefinePose" checked="0"/>
</div>
<div class="pipelineToggle">
    <h3>Quad Contours</h3>
    <input type="checkbox" id="apriltag3QuadContours" checked="0"/>
</div>
<div class="slider">
    <h3>Decision Margin</h3>
    <input type="range" min="1" max="100" value="50" id="apriltag3DecisionMargin">
    <h3 id="apriltag3DecisionMarginVal">50</h3>
</div>
<div class="slider">
    <h3>FOV</h3>
    <input type="range" min="1" max="180" value="70" id="apriltag3Fov">
    <h3 id="apriltag3FovVal">70</h3>
</div>