<div class="slider">
    <h3>Lower Purple H</h3>
    <input type="range" min="0" max="255" value="0" id="lowerPurpleH">
    <h3 id="lowerPurpleHVal"></h3>
</div>
<div class="slider">
    <h3>Lower Purple S</h3>
    <input type="range" min="0" max="255" value="0" id="lowerPurpleS">
    <h3 id="lowerPurpleSVal"></h3>
</div>
<div class="slider">
    <h3>Lower Purple V</h3>
    <input type="range" min="0" max="255" value="0" id="lowerPurpleV">
    <h3 id="lowerPurpleVVal"></h3>
</div>

<div class="slider">
    <h3>Upper Purple H</h3>
    <input type="range" min="0" max="255" value="0" id="upperPurpleH">
    <h3 id="upperPurpleHVal"></h3>
</div>
<div class="slider">
    <h3>Upper Purple S</h3>
    <input type="range" min="0" max="255" value="0" id="upperPurpleS">
    <h3 id="upperPurpleSVal"></h3>
</div>
<div class="slider">
    <h3>Upper Purple V</h3>
    <input type="range" min="0" max="255" value="0" id="upperPurpleV">
    <h3 id="upperPurpleVVal"></h3>
</div>

<div class="slider">
    <h3>Arbituary Value Cube</h3>
    <input type="range" min="0" max="100" value="9" id="arbituaryValueCube">
    <h3 id="arbituaryValueCubeVal"></h3>
</div>

<div class="slider">
    <h3>Lower Yellow H</h3>
    <input type="range" min="0" max="255" value="0" id="lowerYellowH">
    <h3 id="lowerYellowHVal"></h3>
</div>
<div class="slider">
    <h3>Lower Yellow S</h3>
    <input type="range" min="0" max="255" value="0" id="lowerYellowS">
    <h3 id="lowerYellowSVal"></h3>
</div>
<div class="slider">
    <h3>Lower Yellow V</h3>
    <input type="range" min="0" max="255" value="0" id="lowerYellowV">
    <h3 id="lowerYellowVVal"></h3>
</div>

<div class="slider">
    <h3>Upper Yellow H</h3>
    <input type="range" min="0" max="255" value="0" id="upperYellowH">
    <h3 id="upperYellowHVal"></h3>
</div>
<div class="slider">
    <h3>Upper Yellow S</h3>
    <input type="range" min="0" max="255" value="0" id="upperYellowS">
    <h3 id="upperYellowSVal"></h3>
</div>
<div class="slider">
    <h3>Upper Yellow V</h3>
    <input type="range" min="0" max="255" value="0" id="upperYellowV">
    <h3 id="upperYellowVVal"></h3>
</div>

<div class="slider">
    <h3>Arbituary Value Cone</h3>
    <input type="range" min="0" max="100" value="9" id="arbituaryValueCone">
    <h3 id="arbituaryValueConeVal"></h3>
</div>