<div class="slider">
    <h3>Upper Green H</h3>
    <input type="range" min="0" max="255" value="0" id="upperGreenH">
    <h3 id="upperGreenHVal"></h3>
</div>
<div class="slider">
    <h3>Upper Green S</h3>
    <input type="range" min="0" max="255" value="0" id="upperGreenS">
    <h3 id="upperGreenSVal"></h3>
</div>
<div class="slider">
    <h3>Upper Green V</h3>
    <input type="range" min="0" max="255" value="0" id="upperGreenV">
    <h3 id="upperGreenVVal"></h3>
</div>

<div class="pipelineToggle">
    <h3>Light</h3>
    <input type="checkbox" id="light" checked="1"/>
</div>